<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".md" mimeType="text/markdown" />
        </staticContent>

        <httpProtocol>
            <customHeaders>
                <add name="Strict-Transport-Security" value="max-age=63072000" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                
                <add name="Cache-Control" value="max-age=31536000" />
            </customHeaders>
        </httpProtocol> 

    </system.webServer>
</configuration>
