<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".md" mimeType="text/markdown" />
        </staticContent>

        <httpProtocol>
            <customHeaders>
                <add name="fred" value="42" />
            </customHeaders>
        </httpProtocol> 

    </system.webServer>
</configuration>
