<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>

        <staticContent>
            <mimeMap fileExtension=".md" mimeType="text/markdown" />
        </staticContent>

        <httpProtocol>
            <customHeaders>
                <clear />

                <!--
                <add name="Content-Security-Policy" value="default-src 'self' *.rss.com; script-src 'self' https://ajax.aspnetcdn.com; unsafe-hashes style-src 'sha256-/ipOpucRcG0VpdVM8OFK96ItNATF6bB5Gc8dLIXXEtw='"/>
                -->
                <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
                <add name="Strict-Transport-Security" value="max-age=63072000" />

                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="ALLOW-FROM https://player.rss.com" />
                <add name="X-XSS-Protection" value="1; mode=block" />

                <add name="Access-Control-Allow-Origin" value="https://player.rss.com https://apollo.rss.com" />

                <!-- 
                    OK, removing this, looks like most browsers don't like it!
                    <add name="Permissions-Policy" value="accelerometer=(), ambient-light-sensor=(), autoplay=(), battery=(), camera=(), cross-origin-isolated=(), display-capture=(), document-domain=(), encrypted-media=(), execution-while-not-rendered=(), execution-while-out-of-viewport=(), fullscreen=(), geolocation=(), gyroscope=(), keyboard-map=(), magnetometer=(), microphone=(), midi=(), navigation-override=(), payment=(), picture-in-picture=(), publickey-credentials-get=(), screen-wake-lock=(), sync-xhr=(), usb=(), web-share=(), xr-spatial-tracking=(), clipboard-read=(), clipboard-write=(), gamepad=(), speaker-selection=(), conversion-measurement=(), focus-without-user-activation=(), hid=(), idle-detection=(), interest-cohort=(), serial=(), sync-script=(), trust-token-redemption=(), window-placement=(), vertical-scroll=()" />
                -->

                <add name="Cache-Control" value="no-cache" />

            </customHeaders>
        </httpProtocol> 

    </system.webServer>
</configuration>
