# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Azure Secure Podcast to Azure Web App

on:
  push:
    branches:
      - master
      
jobs:          
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts from build job
        uses: actions/checkout@v3

      - name: Minify HTML
        run: |
          npm install -g html-minifier-terser
          find . -name "*.html" -exec html-minifier-terser --collapse-whitespace --remove-comments --minify-css true --minify-js true -o {} {} \;

      - uses: azure/login@v1
        with:
            creds: '${{ secrets.AZURE_CREDS }}'

      - name: 'Deploy to Azure Web App'
        id: deploy-to-azsecpod
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'azuresecuritypodcast'
          package: '.'

      - name: logout
        run: az logout